
.header-h {
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 400;
    color: #FFB03B;
}

.header-h2 {
    margin-top: 10px;
    font-size: 30px;
    font-family: 'Satisfy', sans-serif;
    font-weight: 300;
}
